body{
    width:100vw;
    height:100vh;
    font-size:20px !important;
}

@media(max-width:1200px){
    body{
        font-size:16px!important;
    }
}
@media(max-width:1000px){
    body{
        font-size:14px!important;
    }
}
@media(max-width:800px){
    body{
        font-size:12px!important;
    }
}
@media(max-width:600px){
    body{
        font-size:10px!important;
    }
}
@media(max-width:400px){
    body{
        font-size:8px!important;
    }
}
.ant-menu-horizontal > .ant-menu-item-selected{
    color: #F56961;
    border-bottom: 0px solid;
}
.top_back{
    width: 100%;
    height: 29rem;
    background-image: url('/background.png');
    background-size: 100% 100%;
}
.container{
    width: 100%;
    height: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0; 
}
.container .top_title{
    font-size:60px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:84px;
    width:100%;
    text-align: center;
}
.container .top_explain{
    width:100%;
    text-align: center;
    font-size:24px;
    font-weight:300;
    color:rgba(255,255,255,1);
    line-height:33px;
    margin-top: 10px;
}
.container .input_find{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.container .input_find Input{
    width: 160px;
    height: 32px;
    margin-left: 15px;
}
.container .input_find .data{
    width: 160px;
    height: 32px;
    margin-left: 15px;
    padding-left: 10px;
}
.container .input_find .btn{
    width: 160px;
    height: 32px;
    margin-left: 15px;
    background-color: #FA6767;
    border: none;
}
.row{
    width: 100%;
    margin-top: 5%;
}
.row .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .title .a{
    font-size:28px;
    font-weight:500;
    color:rgba(245,105,97,1);
    line-height:40px;
}
.row .title .more{
    font-size:16px;
    font-weight:400;
    color:rgba(0,0,0,0.35);
    line-height:22px;
}
.row .title .img{
    margin-top: 4px;
}
.row .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.row .content{
    padding: 0 15%;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.row .content .chunk{
    width: 32%;
    position: relative;  
}
.row .content .chunk img{
    width: 100%;
    height: 256px;
}
.vague{
    height: 256px;
    width: 100%;
    background:rgba(0,0,0,0.25);
    position: absolute;
    top: 0;
}
.row .content .chunk .cp{
    position: absolute;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    top: 8%;
    left: 6%;
}

.row .content .chunk .cp1{
    position: absolute;
    top: 30%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row .content .chunk .city{
    font-size:26px;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:37px;
}
.row .content .chunk .price{
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:20px;
    margin-top: 5px;
}

.row .content .chunk .top img{
    width: 100%;
    height: 256px;
}
.row .content .chunk .top .cp{
    position: absolute;
}
.row .content .chunk .top .cp .time{
    width: 60px;
    height:24px;
    background:rgba(245,105,97,1);
    border-radius:4px;
    opacity:0.65;
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    padding: 0px 8px;
}
.row .content .chunk .bottom{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 80px;
    box-shadow:0px 1px 8px 0px rgba(0,0,0,0.1);
    padding: 12px 0px 0px 15px;
}
.row .content .chunk .bottom .adress{
    font-size:18px;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:25px;
}
.row .content .chunk .bottom .star{
    font-size:12px;
    font-weight:400;
    color:rgba(0,0,0,0.45);
    line-height:18px;   
    margin-left: 5px;
    margin-top: 8px;
}
.row .content .chunk .bottom .buck{
    font-size:18px;
    font-weight:500;
    color:rgba(245,105,97,1);
    line-height:25px;
    position: absolute;
    right: 7%;
}
.row .text{
    font-size:16px;
    font-weight:500;
    color:rgba(0,0,0,0.45);
    line-height:32px;
    text-indent: 2em;
    padding: 0 15%;
    width: 100%;
    margin-top: 60px;
}

.bottom_row{
    width: 100%;
    height: 25rem;
    background-image: url('/bottom_backgroud.png');
    background-size: 100% 100%;
    display: flex;
    margin-top: 5%;
    padding: 7% 17% 7% 10%;
    justify-content: space-between;
}
.bottom_row .trademark{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.bottom_row .trademark .bottom_titleone{
    font-size:36px;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:50px;
}
.bottom_row .trademark .bottom_title{
    font-size:24px;
    font-weight:500;
    color:rgba(255,255,255,0.85);
    line-height:50px;
}

.bottom_row .trademark .bottom_content{
    font-size:16px;
    font-weight:300;
    color:rgba(255,255,255,0.45);
    line-height:30px;
}
.top_vague{
    width: 100%;
    height: 29rem;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0%;
}